body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#stucktop{
  position: fixed;
  width: 100%;
  z-index: 3;
}

button{
  width: 200px;
  padding: 10px;
}

#delete{
  width: 20px;
  padding: 1px;
}

.txtarea{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.headspace{
  margin-top: 10px;
}

.jumbotron{
  padding-bottom: 1rem !important;
}

