body {
  margin: 0 auto;
  font-family: "Mali", cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-repeat: repeat;
    background-position-y: top;
    background-position-x: left;
    background-image: url("https://res.cloudinary.com/dmxibubc5/image/upload/v1604023469/depositphotos_87719934-stock-illustration-vintage-antique-palette-seamless-art_tyxrwb.jpg");
    background-attachment: fixed;
    font-family: 'Poiret One', cursive!important;
    font-weight: bold!important;

} 

h1 {
  font-family: "Limelight", cursive;
  text-transform: uppercase;
  font-size: 50px !important;
  text-shadow: 0px 0px 5px black!important;
}

h2{
  font-family: "Limelight", cursive;
  text-transform: uppercase;
}

#stucktop{
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: #2a2428!important;
  box-shadow: 0px 0px 12px black!important;
}

.brand{
  color: #f4dbaf!important;
  font-family: "Limelight", cursive;
  text-transform: uppercase;
  font-weight: normal!important;
  transition: all .5s linear;
  border-radius: 10px;
  padding: 3px;
}
.brand:hover{
  color: #2a2428!important;
  background-color: #f4dbaf !important;
  text-shadow: 0px 0px 5px black!important;
}

.ii{
  font-size: 110%;
}

.navlink, .recipe{
  color: #f4dbaf!important;
  transition: all .5s linear;
  border-radius: 10px;
}
.navlink:hover{
  color: #2a2428!important;
  background-color: #f4dbaf !important;
}

.recipe{
  margin: 5% 0% 5% 0%;
}

.introtext{
  font-weight: bold!important;
}

.txtarea{
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.buttons{
  color: #2a2428!important;
  background-color: #f4dbaf !important;
  font-weight: bold!important;
}

.screw{
  margin-bottom: 10px;
}
.screw:hover{
  color: #f4dbaf!important;
  background-color: #2a2428 !important;
}

.headspace{
  margin-top: 10px;
}

.jumbotron{
  color: #2a2428;
  padding-bottom: 1rem !important;
  background-color: #f4dbaf !important;
  margin-bottom: 0px !important;
}

.central{
  background-color: #2a2428;
  display: flex;
  justify-content: center;
}

.midform{
  padding: 10px;
  background-color: #2a2428;
}

.about {
  padding: 10px;
  color: #f4dbaf;
}

#randomButton{
  color: #2a2428!important;
  background-color: #f4dbaf !important;
  font-weight: bold!important;
  width: 175px;
  height: 70px;
  font-size: 30px;
}

#add-form {
  padding: 35px;
}

#contents{
  padding: 10px;
  color: #f4dbaf;
  font-size: 25px;
  background-color: #2a2428!important;
  border-radius: 10px;
}

/* Responsive when website is 500px and smaller */
@media screen and (max-width: 500px) {
  *{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 18px;
  }
  textarea,
  input {
    min-width: 200px;
  }
}
/* Responsive when website is 800px and bigger */
@media screen and (min-width: 800px) {
  textarea {
    min-width: 200px;
    max-width: 500px;
  }
}